<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
	<h1>Fatigue Detect</h1>
    <div class="video">
        <img src="{{ url_for('output') }}" height="60%">
    </div>
	<div class="wrapper">
	<a href="{{ url_for('off') }}"><input type=”button” class="b1" value="Close App"></a>
</div>
	
</body>
</html>